

.container {
    display: flex;
    padding: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    flex: 1, 1, auto;
    background-image: url("../paradise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0 130px;
    border-radius: 10%;
}

.item {
 margin-top: 20px;
 font-size: 30px;
 /*margin-right: 15px;*/
 width: auto;
}

#zip-code {
    height: 20px;
    font-size:15px;
}

button {
    height: 25px;
    border-radius: 0px;
    font-size: 15px;
}


.item2 {
    margin-right: 10px;
}

#forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forecast-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: rgba(100,100,100,0.7);
    width: 100px;
    height: 100px;
    /*justify-content: center;*/
    align-items: center;
}